// ==========================================================================
// Buttons
// ==========================================================================

.btn {
  @include ui-colors($ui-colors);
}

[class^="btn--"] {
  @extend %btn;
  @extend %center-align;
  text-transform: capitalize;
  margin-bottom: em(20px, 14px);
  @include mq(small) {
    width: 100%;
  }
  @include mq(medium) {
    @include doubly(20px);
    width: auto;
    display: inline-block;
  }
}

.form {

  .btn--default {
    @include mq(medium) {
      margin: 0 auto;
      display: block;
    }
  }

}


button {
  background-color: #7477be;
  width: 100%;
  padding: 12px 16px;
  color: white;
  border: 1px solid #7477be;
  border-radius: $br--default;
  outline: none;
  letter-spacing: 1px;
      font-size: 14px;
}

.btn-cancel {
  background-color: #b1b1b1;
  border: 1px solid #b1b1b1;
  margin-bottom: 24px;
}

.btn-save {
  margin-bottom: 24px;
}

.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
    float: left;
    clear: right;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    // border: 2px solid #7477be;
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #7477BE;
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 20px;
    height: 20px;
    margin: 5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #7477be;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}