// ==========================================================================
// Forms
// ==========================================================================

.form__input {
  background-color: $white;
  color: $grey;
  border: 0;
  border-bottom: solid 8px $color-primary;
  padding: 10px 15px;
  margin-bottom: 24px;
  outline: none;
  font-size: em(18px);
  font-weight: $font-weight--light;
  width: 100%;
}

.form__label {
  &--hidden {
    @extend %hidden;
  }
}



input,
textarea {
  width: 100%;
  border-radius: $br--default;
  background-color: #fbfbfb;
  border: 1px solid #d1d1d1;
  padding: 12px 18px;
  margin-bottom: 24px;
  color: #aeaeae;
}

select {
  width: 100%;
  border-radius: $br--default;
  background-color: #fbfbfb;
  border: 1px solid #d1d1d1;
  padding: 12px 18px;
  margin: 24px 0;
  color: #aeaeae;
  height: 44px;
}

textarea {
  height: 96px;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aeaeae;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #aeaeae;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #aeaeae;
}
:-moz-placeholder { /* Firefox 18- */
  color: #aeaeae;
}